@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Three Six Palm Boulevard<br />
    Fort Myers, FL 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    239.257.8888
</address>

<address>
    <strong>Customer Relations:</strong>   <a href="Support@ToddAllanMotors.com">Support@ToddAllanMotors.com</a><br />
</address>