@{
    ViewBag.Title = "Financing";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Financing Info.....</p>

<address>
    <strong>TA Motors Finance Department:</strong>   <a href="mailto:Finance@ToddAllanMotors.com">Finance@ToddAllanMotors.com</a><br />
</address>